@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.main {
    font-family: 'Caveat', cursive;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colors {
    background-color: #07070787;
    border: solid 1.5px;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.color-btn {
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkgreen;
    border: solid 5px #d0b220;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 70px;
}

.post-it {
    background: darkgreen;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 330px;
    height: 300px;
    text-align: center;
    transform: rotate(10deg);
}

span {
    font-size: 4rem;
}



.color-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.red {
    background-color: red;
    color: white;
}

.red-active {
    background: linear-gradient(180deg, #f2788f 42%, #f0a2b0 100%);
    -webkit-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
}

.pink {
    background-color: pink;
    color: white;
}

.pink-active {
    background: linear-gradient(180deg, #f69dbb 42%, #f9bcd0 100%);
    -webkit-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
}

.yellow {
    background-color: #e3e546;
    color: black;
}

.yellow-active {
    background: linear-gradient(180deg, #e3e546 42%, #f3f4ab 100%);
    -webkit-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
}

.teste {
    background-color: #73cac4;
    color: black;
}

.blue-active {
    background: linear-gradient(180deg, #73cac4 42%, #73cac4 100%);
    -webkit-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
}

.orange {
    background-color: #fbad4b;
    color: black;
}

.orange-active {
    background: linear-gradient(180deg, #fbad4b 42%, #e8b981 100%);
    -webkit-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
    box-shadow: 10px 12px 10px -7px rgba(0, 0, 0, 0.69);
}

@media (max-width: 768px) {
    .post-it {
        /* Estilos específicos para telas menores que 768px */
        background: darkgreen;
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 330px;
        height: 300px;
        text-align: center;
        transform: rotate(10deg)
    }
}

@media (max-width: 480px) {
    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: darkgreen;
        border: solid 5px #d0b220;
        width: 100%;
        max-width: 500px;
        height: 100%;
        padding: 30px;
    }

    .post-it {
        /* Estilos específicos para telas menores que 480px */
        background: darkgreen;
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 300px;
        height: 290px;
        text-align: center;
        transform: rotate(10deg)
    }
}
